@media (max-width: 768px) {
  .product {
    flex: 0 1 calc(50% - 50px); 
    margin: 0.5em;
    background-color: rgb(255, 255, 255);
    padding: 1.25em;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 0.125em solid #ddd;
    cursor: pointer;
    position: relative;
    text-align: center;
    overflow: hidden; 
    transition: transform 0.3s ease; 
  }

}
.product {
  background-color: rgb(255, 255, 255);
  padding: 1.25em;
  margin: 1em;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 0.125em solid #ddd;
  cursor: pointer;
  position: relative;
  text-align: center;
  overflow: hidden; 
  transition: transform 0.3s ease; 
}

.product:hover {
  transform: scale(1.05); 
}

.product img {
  width: 100%;
  height: 70%;
  height: auto;
  transition: transform 0.3s ease;
}

.product:hover img {
  transform: scale(1.2); 
}

.selected {
  border-color: blue;
}

.product p{
  font-size: 1.125em; 
  margin-top: 1em; 
  text-align: center;
}

.a {
  text-decoration: none;
  color: black;
}