.App {
  text-align: center;
}



a {
  text-decoration: none;
  color: black;
}

.p {
  font-size: 1.125em; 
  line-height: 1.5;
  margin-bottom: 0.9375em; 
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}